.revenue__box, .orders__box, .products__box, .users__box{
    padding: 20px;
    border-radius: 5px;
    h5{
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--primary-color);
        margin-bottom: 20px;
    }
    span{
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: bold;
    }
}
.revenue__box{
    background: var(--card-bg-01);
}
.orders__box{
    background: var(--card-bg-02);
}
.products__box{
    background: var(--card-bg-03);
}
.users__box{
    background: var(--card-bg-04);
}