.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}
.header .nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav__wrapper .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header .nav__wrapper .logo img {
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-4px);
}
.header .nav__wrapper .logo h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.header .nav__wrapper .navigation .menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.7rem;
       column-gap: 2.7rem;
  margin-bottom: 0;
}
.header .nav__wrapper .navigation .menu .nav__item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.header .nav__wrapper .navigation .menu .nav__item .nav__acitve {
  font-weight: 600 !important;
}
.header .nav__wrapper .nav__icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.header .nav__wrapper .nav__icons span i {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}
.header .nav__wrapper .nav__icons .profile {
  position: relative;
  z-index: 9;
}
.header .nav__wrapper .nav__icons .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -15px;
  cursor: pointer;
}
.header .nav__wrapper .nav__icons .profile .profile__actions {
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 10;
  font-size: 1rem;
  font-weight: 500;
  background: white;
  line-height: 30px;
  box-shadow: 0 0 5px rgb(209, 209, 209);
  display: none;
}
.header .nav__wrapper .nav__icons .profile .profile__actions.show__profileActions {
  display: block;
}
.header .nav__wrapper .nav__icons .profile .profile__actions a, .header .nav__wrapper .nav__icons .profile .profile__actions span {
  display: inline-block;
  padding: 0.5rem 3rem;
  min-width: 190px;
}
.header .nav__wrapper .nav__icons .profile .profile__actions a:nth-child(2), .header .nav__wrapper .nav__icons .profile .profile__actions span:nth-child(2) {
  border-top: 1px solid #ccc;
}
.header .nav__wrapper .nav__icons .profile .profile__actions a:hover, .header .nav__wrapper .nav__icons .profile .profile__actions span:hover {
  color: #ccc;
  cursor: pointer;
}
.header .nav__wrapper .nav__icons .cart__icon,
.header .nav__wrapper .nav__icons .fav__icon {
  position: relative;
}
.header .nav__wrapper .nav__icons .cart__icon .badge,
.header .nav__wrapper .nav__icons .fav__icon .badge {
  position: absolute;
  top: 25%;
  right: -10%;
  width: 15px;
  height: 15px;
  content: "";
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 0.6rem;
  font-weight: 600;
  z-index: 10;
}
.header .nav__wrapper .mobile__menu {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}

.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: white;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
  .header .nav__wrapper .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  .header .nav__wrapper .navigation .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .nav__wrapper .active__menu {
    display: block;
  }
  .header .nav__wrapper .mobile__menu {
    display: block !important;
  }
}/*# sourceMappingURL=header.css.map */