.footer{
    padding-top: 60px;
    padding-bottom: 10px;
    background:var(--primary-color);
    .logo {
        display: flex;
        align-items: center;
        column-gap: 8px;
    
        img {
            width: 1.5rem;
            height: 1.5rem;
            transform: translateY(-4px);
        }
    
        h1 {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--primary-color);
        }
    }
    .footer__text{
        line-height: 30px;
        color: rgba(255, 255, 255, 0.74);
    }
    .footer__quick-links{
        .quick__links-title{
            margin-bottom: 30px;
            color: #fff;
            font-style: 1.1rem;
        }
        ul{
            li{
                background: transparent !important;
                a{
                    color: rgba(255, 255, 255, 0.74);
                }
            }
        }
    }
    .footer__contact{
        li{
            color: rgba(255, 255, 255, 0.74);
            span{
                font-size: 1.2rem;
                color: inherit;
            }
            p{
                color: inherit;
                font-style: .9rem;
            }
        }
    }
    .footer__copyright{
        color:  rgba(255, 255, 255, 0.74);
        font-style: 0.9rem;
        margin-top: 50px;
        text-align: center;
    }
}
